<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sistema Loja</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</head>

<body>

<div th:include="fragments/navbar :: header"></div>

<h2 id="title" class="text-center">Agendar pagamento</h2>

<p id="description" class="text-center">Preencha os campos</p>

<form action="#" th:action="@{/agendamentos}" th:object="${agendamento}" method="post">
    <div class="mb-3">
        <label class="form-label" th:text="Fornecedor" />
        <input class="form-control" type="text" required="true" th:field="*{fornecedor}" />
    </div>

    <div class="mb-3">
        <!--        <label class="form-label" th:text="${#numbers.formatCurrency(valor)}" />-->
        <label class="form-label" th:text="Valor" />
        <input class="form-control valor" type="text" required="true" autocomplete="off" th:field="*{valor}" />
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="Data" />
        <input class="form-control datepicker" type="text" required="true" autocomplete="off" th:field="*{dataPagamento}" id="datepicker"/>
    </div>

    <script>
        $(function() {
            $("#datepicker").on('click').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });
    </script>

    <div class="text-center mb-3">
        <button class="btn btn-primary" type="submit" >Salvar</button>
    </div>
</form>
</body>
</html>