<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/head">
</head>

<body>

<div th:include="fragments/navbar :: header"></div>

<h2 id="title" class="text-center">Agendar pagamento</h2>

<p id="description" class="text-center">Preencha os campos</p>

<form action="#" th:action="@{/agendamentos}" th:object="${agendamento}" method="post">
    <div class="mb-3">
        <label class="form-label" th:text="Fornecedor" />
        <input class="form-control" type="text" required="true" th:field="*{fornecedor}" />
    </div>

    <div class="mb-3">
        <!--        <label class="form-label" th:text="${#numbers.formatCurrency(valor)}" />-->
        <label class="form-label" th:text="Valor" />
        <input class="form-control valor currency-input" type="text" required="true" autocomplete="off" th:field="*{valor}" />
    </div>
    <div class="mb-3">
        <label class="form-label" th:text="Data" />
        <input class="form-control datepicker" type="text" required="true" autocomplete="off" th:field="*{dataPagamento}" id="datepicker"/>
    </div>

    <script>
        $(function() {
            $("#datepicker").on('click').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        });
    </script>

    <div class="text-center mb-3">
        <button class="btn btn-primary" type="submit" >Salvar</button>
    </div>
</form>
</body>
</html>