<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/head">
</head>
<body>
<div th:include="fragments/navbar :: header"></div>
<div class="result details">
    <h3 class="m-4">Agendamento Registrado</h3>
    <div class="reg-body vw-30">
        <div class="salvo my-3 row">

            <p class="col">Valor: </p>
            <p class="col" th:text="${agendamento.valor}"/>
        </div>
        <div class="salvo my-3 row ">
            <p class="col">Data: </p>
            <p class="col" th:text="${#temporals.format(agendamento.dataPagamento, 'dd/MM/yy')}"/>
        </div>
        <div class="salvo my-3 row ">
            <p class="col">Fornecedor: </p>
            <p class="col" th:text="${agendamento.fornecedor}"/>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <a class="btn btn-primary voltar" href="/agendamentos/list">Ver agendamentos do mês</a>
    </div>
</div>

</body>
</html>