<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/head"></head>
<body>
<div th:include="fragments/navbar :: header"></div>
<div class="result mb-0">
    <div class="d-flex justify-content-between">
        <div th:replace="fragments/selectmes :: div"></div>

        <a class="btn btn-light my-4 p-3" href="/compras">Nova compra</a>
    </div>

    <h3>Compras Registradas: </h3>

</div>

<div class="container-table">
    <div class="wrap-table">
        <div class="table-result">
            <div class="table-head">
                <table>
                    <thead>
                    <tr class="tb-row">
                        <th>Fornecedor</th>
                        <th>Valor</th>
                        <th>Agendado</th>
                        <th>Data</th>
                    </tr>

                    </thead>

                    <tbody>
                    <tr th:if="${compras.empty}">
                        <td colspan="4">Sem compras</td>
                    </tr>
                    <div th:each="compra : ${compras}">
                        <tr th:onclick="'compraDetalhe(\'' + ${compra.id} + '\')'">
                            <td th:text="${compra.fornecedor}"></td>
                            <td th:text="${compra.valor}"></td>
                            <td th:text="${compra.agendado ? 'sim':'nao'}"></td>
                            <td th:text="${#temporals.format(compra.dataCompra, 'dd/MM/yy')}"></td>
                        </tr>
                    </div>
                </table>
                <p><i class="fas fa-rocket"></i>Mann</p>

            </div>
        </div>
    </div>
</div>

<script>
    function compraDetalhe(id) {
        console.log("id" + id);
        window.location.href = `/compras/${id}`;
    }
</script>

</body>
</html>