<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/head"></head>

<body>

<div th:include="fragments/navbar :: header"></div>

<h2 id="title" class="text-center">Cadastro de Compras</h2>

<p id="description" class="text-center">Preencha os campos</p>

<form id="form-prod" action="#" th:action="@{/compras}" th:object="${compra}" method="post">
    <div class="mb-3">
        <label class="form-label" th:text="Fornecedor"/>
        <input id="compra-fornecedor-display" class="form-control" type="text" required="true"
               th:field="*{fornecedor}"/>
    </div>

    <div>
        <label class="form-label" th:text="Descricao"/>
        <input id="compra-descricao-display" class="form-control" type="text" required="true" th:field="*{descricao}"/>
    </div>

    <div id="produto-list-container" class="produto-list-container">
        <div id="produto-label" class="mb-3 row justify-content-start" hidden>
            <div id="add-produto-input" class="col">
                <label class="form-label">Produto</label>
            </div>
            <div class="col-3">
                <label class="form-label produto-prop">Quantidade</label>
            </div>
            <div class="col-2">
                <label class="form-label produto-prop">Preco</label>
            </div>
            <div class="col-2">
                <label class="form-label produto-prop">Subtotal</label>
            </div>
        </div>


    </div>

    <div id="total-add-prod" class="d-flex justify-content-between align-items-center">
        <div class="col-3">
            <button class="btn btn-secondary"
                    type="button"
                    onclick="appendChildToDiv()">Adicionar Produto
            </button>
        </div>

        <div class="col-3 hidden" style="visibility: hidden" id="total-container">
            <label class="form-label" for="total" id="total-lb">Total</label>
            <input class="form-control col-xs-2 only-numbers" type="text" readonly id="total"/>
        </div>

    </div>


    <div class="text-center mt-4">
        <button class="btn btn-primary" onclick="postProduto()" type="button">Salvar</button>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document.body).on('input', ".input-altera-valor", function (event) {

        let elementoPai = $(event.target).parent().parent();

        let prodQuant = elementoPai.find(".produto-input-altera-quant");
        let prodPreco = elementoPai.find(".produto-input-altera-preco");

        elementoPai.find(".subtotal").val(prodPreco.val() * prodQuant.val());

        let soma = 0;
        Array.from($(".subtotal")).forEach((el) => soma += parseFloat(el.value));

        $("#total").val(soma);

    });
</script>
</body>
</html>