<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/head"></head>
<body>
<div th:include="fragments/navbar :: header"></div>

<div class="result">
    <h3 class="m-4">Compra Registrada</h3>
    <div class="reg-body vw-30">
        <div class="salvo my-3 row ">
            <p class="col">Fornecedor: </p>
            <p class="col" th:text="${compra.fornecedor}"/>
        </div>
        <div class="salvo my-3 row">
            <p class="col">Valor: </p>
            <p class="col" th:text="${compra.valor}"/>
        </div>
        <div class="salvo my-3 row">
            <p class="col">Descricao: </p>
            <p class="col" th:text="${compra.descricao}"/>
        </div>
        <div class="salvo my-3 row ">
            <p class="col" >Data: </p>
            <p class="col" th:text="${#temporals.format(compra.dataCompra, 'dd/MM/yy')}"/>
        </div>
    </div>



    <a class="btn btn-primary voltar" href="/compras/list">Ver compras do mês</a>
</div>

<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

</body>
</html>