<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/head"></head>
<body>
<div th:include="fragments/navbar :: header"></div>

<div class="result details">
    <h3 class="m-4">Pagamento Registrado</h3>
    <div class="reg-body vw-30">
        <div class="salvo my-3 row">

            <p class="col">Valor: </p>
            <p class="col" th:text="${pagamento.valor}"/>
        </div>
        <div class="salvo my-3 row ">
            <p class="col">Descricao: </p>
            <p class="col" th:text="${pagamento.descricao}"/>
        </div>
        <div class="salvo my-3 row ">
            <p class="col" >Data: </p>
            <p class="col" th:text="${#temporals.format(pagamento.dataPagamento, 'dd/MM/yy')}"/>
        </div>
    </div>



    <a class="btn btn-primary voltar" href="/pagamentos/list">Ver pagamentos do mês</a>
</div>

</body>
</html>