<div class="modal fade" id="agendamento-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Novo agendamento</h4>
            </div>

            <div class="modal-body">

                <form class="modal-form" th:action="@{/agendamentos}" th:object="${agendamento}" method="post">
                    <label class="form-label" id="data-ag-label" for="data-ag-modal">Data</label>
                    <input class="form-control" th:field="*{dataPagamento}" type="text" id="data-ag-modal" />

                    <label class="form-label" id="fornecedor-ag-label" for="fornecedor-ag-modal">Fornecedor</label>
                    <input class="form-control" th:field="*{fornecedor}" required type="text" id="fornecedor-ag-modal"/>

                    <label class="form-label" id="valor-ag-label" for="valor-ag-modal">Valor</label>
                    <input class="form-control w-20 currency-input" th:field="*{valor}" required autocomplete="off" type="text" id="valor-ag-modal"/>

                    <div class="text-center my-3">
                        <button class="btn btn-primary" type="submit" >Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>