<div class="modal fade" id="meumodal">
    <div class="modal-dialog">
        <div class="modal-content">
    <!--            <div class="modal-header">-->

    <!--                <p th:text="'Novo agendamento para o dia ' + ${#temporals.format(entry.key, 'dd/MMM')}"></p>-->
    <!--            </div>-->
            <div class="modal-body">

                body here
                <p>ID: <span id="modalItemId"></span></p>
                <label id="testando" for="data-ag"></label>
                <input class="form-control" type="text" id="data-ag" readonly />
            </div>
            <div class="modal-footer">
                end modal
            </div>
        </div>
    </div>
</div>