<div th:fragment="header">
    <header class="header">
        <nav>
            <ul class="d-flex p-2 text-center flex justify-content-aroud">
                <li><a href="/dashboard"><i class="fa fa-home"></i></a><br/></li>
                <li><a href="/sintegra">Buscar empresas</a><br/></li>
                <li><a href="/compras/list">Compras</a><br/></li>
                <li><a href="/pagamentos/list">Pagamentos</a><br/></li>
                <li><a href="/agendamentos/list">Agendamentos</a><br/></li>
                <li><a href="/logout"><i class="fa fa-sign-out"></i></a><br/></li>
            </ul>
        </nav>
    </header>
</div>