<div th:fragment="header">
    <header class="header">
        <nav>
            <ul>
                <li><a href="/dashboard"><i class="fas fa-rocket"></i></a><br/></li>
                <li><a href="/sintegra">Buscar empresas</a><br/></li>
                <li><a href="/compras/list">Compras</a><br/></li>
                <li><a href="/pagamentos/list">Pagamentos</a><br/></li>
                <li><a href="/agendamentos/list">Agendamentos</a><br/></li>
                <li><a href="/logout">Sair</a><br/></li>
            </ul>
        </nav>
    </header>
</div>