<div class="modal fade" id="produto-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Produto</h4>
            </div>

            <div class="modal-body">

                <form class="modal-form"  method="post">
                    <label class="form-label" id="nome-produto-lb" for="nome-produto-modal">Nome</label>
                    <input class="form-control"  type="text" name="nome-produto-modal" id="nome-produto-modal" />

                    <label class="form-label" id="quantidade-pd-label" for="quantidade-produto-modal">Quantidade</label>
                    <input class="form-control"  required type="text" name="quantidade-produto-modal" id="quantidade-produto-modal"/>

                    <label class="form-label" id="preco-pd-label" for="preco-produto-modal">Preço</label>
                    <input class="form-control w-20"  required autocomplete="off" type="text" name="preco-produto-modal" id="preco-produto-modal"/>

                    <div class="text-center my-3">
                        <button class="btn btn-primary" type="button" data-bs-dismiss="modal" onclick="submitChildForm()" >Salvar</button>
                    </div>
                </form>

<!--                <form id="childForm">-->
<!--                    <label for="produtoNome-m">Produto:</label>-->
<!--                    <input type="text" id="produtoNome-m" name="produtoNome-m" th:field="*{produtos[__${compra.produtos != null ? #fields.toList(compra.produtos)?.size() : 0}__]?.nome}" />-->
<!--                    <button type="button" onclick="addChild()">Add Child</button>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>