<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/head"></head>
<body>
<div th:include="fragments/navbar :: header"></div>

<h3>Dashboard em breve</h3>

<div class="compras">
    <div class="datelhe">
        <p th:text="'Compras nao agendadas: ' + ${comprasNaoAgendadas}"></p>
    </div>
    <div class="datelhe">
        <p th:text="'Compras dos ultimos 30 dias: ' + ${comprasUltimos30Dias}"></p>
    </div>
</div>
<div class="agendamentos">
    <div class="datelhe">
        <p th:text="'agendamentos dos proximos 30 dias: ' + ${agendamento}"></p>
    </div>
</div>
<div class="pagamentos">
    <div class="datelhe">
        <p th:text="'Pagamentos dos ultimos 30 dias: ' + ${pagamentos}"></p>
    </div>
</div>

</body>
</html>