<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head"></head>
<body>
<div class="container py-5 mt-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-primary bg-gradient text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h3 class="text-white">Faça o login</h3>

                    <form id="loginForm mw-2" th:action="@{/login}" method="post">
                        <div class="form-outline mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                        </div>

                        <div class="form-outline mb-3">
                            <label class="form-label" for="password">Password:</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-outline-light" type="submit">Login</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
