<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/head"></head>
<div th:include="fragments/navbar :: header"></div>
    <h2 id="title" class="text-center">Buscador Sintegra</h2>
    <p id="description" class="text-center">Válido para estado do Ceará</p>
<body>

<form action="#" th:action="@{/sintegra}" th:object="${income}" method="post">
    <div class="mb-3">
        <label class="form-label" th:text="CNPJ" />
        <input class="form-control" type="text" th:field="*{cnpj}" />
    </div>

    <div class="text-center mb-3">
        <button class="btn" type="submit">Buscar</button>
    </div>
</form>
</body>
</html>