<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sistema de cadastro de compra e pagamento</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <link th:href="@{/styles/navbar.css}" rel="stylesheet" />

</head>
<div th:include="fragments/navbar :: header"></div>
    <h2 id="title" class="text-center">Buscador Sintegra</h2>
    <p id="description" class="text-center">Válido para estado do Ceará</p>
<body>

<form action="#" th:action="@{/sintegra}" th:object="${income}" method="post">
    <div class="mb-3">
        <label class="form-label" th:text="CNPJ" />
        <input class="form-control" type="text" th:field="*{cnpj}" />
    </div>

    <div class="text-center mb-3">
        <button class="btn" type="submit">Buscar</button>
    </div>
</form>
</body>
</html>